<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Eat-Da-Burger App for Northwestern Coding Boot Camp 2018">
   
    <link rel="icon" href="https://images.pexels.com/photos/161519/abstract-barbecue-barbeque-bbq-161519.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb">

    <title>Eat-Da-Burger</title>

     <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
  </head>
  <body>
      <div>

      {{{ body }}}

      </div>
      <hr>
      <!-- /container -->
      <footer class=" center footer">
        <div class="container">
          <p> copyright © Eat-Da-Burger App 2018</p>
        </div>
      </footer>
  </body>
</html>